.sidebar {
  position: fixed;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #444;
  color: white;
  transition: left 0.3s;
  padding: 16px;
  z-index: 999;
  top: 50px; /* Adjust for the navbar height */
}

.sidebar-open {
  left: 0;
}

.close-button {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  display: block;
  margin-left: auto;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 16px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
}
